<div>
    <div>
        <h3>Tasks</h3>
        <div> In Progress Completed 
        </div>
    </div>
</div>>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select Task" /> Design Wireframe
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-02-17
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label=" Check Box" /> Develop Back-end
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-02-17
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label=" Completed Task" /> Develop Front-End
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-02-17
            </td>
        </tr>
    </tbody>
</table>
